.bodybg{
	background: url(../img/img_bg.png);
    background-size: cover;
    background-repeat: no-repeat;  
}
@media (min-width: 768px) {
	.bodybg{
		background-repeat: no-repeat;
	}
}

.logo-img{
	margin-top: 79px;
	width: 100px;
	height: 100px;
}
@media (min-width: 768px){
	.logo-img{
		width: 160px;
		height: 160px;
	}
}
.title{
	font-size: 30px;
	color: #FFFFFF;
	line-height: 42px;
	margin-top: 35px;
	font-family:Roboto-BoldCondensed;
}
@media (min-width: 768px) {
	.title{
		font-size: 36px;
	}
}
.learn-ai-title{
	font-size: 24px;
	color:#ffffff;
	line-height: 13px;
	margin-top: 95px;
	font-family:Roboto-Regular； 
}
.aipy-btn{
	/*width: 150px;
	height: 55.2px;*/
	background: #ffffff;
	font-size: 20px;
	line-height: 33px;
	color: #4a4a4a;
	/*margin-top: 58.6px;
	padding: 10px;
	display: block;
	margin: 30px;
	text-align: center;
	float: left;*/
}

.guanyu{
	color: #ffffff;
	font-size: 18px;
	margin-top: 60px;
	line-height: 21px;
}
.guanyu-text-margin{
	margin-right: 30px;
	color: #ffffff;
	font-family: Roboto-Regular;
}
.footer-text{
	color: #9B9B9B;
	font-size: 14px;
	line-height: 20px; 
	margin-top: 41px;
	margin-bottom: 59px;
	font-family: PingFangSC-Light;
}
.no-padding{
	padding: 0;
}
.instruction-bg{
	background:#0F212D;
	margin-top: 44px;
	padding-bottom: 44px;
}
.hr-line{
	background: #5091C9;
	margin-top: 66px;
	width: 40px;
	height: 4px;
	float: left;
}
.instruction-title{
	font-family: Roboto-Light;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 23px;
    margin-top: 106px;
    margin-bottom: 13px;
}
.instruction-content-text{
	font-family: Roboto-Light;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 23px;
    margin-top: 13px;
    margin-bottom: 50px;
}
.friends-chaining{
	margin-right: 10px;
	vertical-align: baseline;
}
@media (min-width: 768px){
	.friends-chaining{
		margin-right: 20px;
	}
}
.chaining-paragraph{
	margin-top: 20px;
}